<div class="w-screen h-screen fixed top-0 left-0 grid grid-cols-12 bg-linear-to-b from-zr-darker-green to-zr-darker-green from-20% via-50% to-80% via-zr-cream gap-[1px]">
	<div class="col-span-1 w-full h-screen bg-gradient-to-r from-[var(--gradient-start)] to-[var(--gradient-end)] animate-gradient-side animation-delay-col1"></div>
	<div class="col-span-1 w-full h-screen bg-gradient-to-r from-[var(--gradient-start)] to-[var(--gradient-end)] animate-gradient-side animation-delay-col2"></div>
	<div class="col-span-1 w-full h-screen bg-gradient-to-r from-[var(--gradient-start)] to-[var(--gradient-end)] animate-gradient-side animation-delay-col3"></div>
	<div class="col-span-1 w-full h-screen bg-gradient-to-r from-[var(--gradient-start)] to-[var(--gradient-end)] animate-gradient-side animation-delay-col4"></div>
	<div class="col-span-1 w-full h-screen bg-gradient-to-r from-[var(--gradient-start)] to-[var(--gradient-end)] animate-gradient-side animation-delay-col5"></div>
	<div class="col-span-1 w-full h-screen bg-gradient-to-r from-[var(--gradient-start)] to-[var(--gradient-end)] animate-gradient-side animation-delay-col6 grid grid-cols-13">
	</div>

	<div class="col-span-1 w-full h-screen bg-gradient-to-l from-[var(--gradient-start)] to-[var(--gradient-end)] animate-gradient-side animation-delay-col6"></div>
	<div class="col-span-1 w-full h-screen bg-gradient-to-l from-[var(--gradient-start)] to-[var(--gradient-end)] animate-gradient-side animation-delay-col5"></div>
	<div class="col-span-1 w-full h-screen bg-gradient-to-l from-[var(--gradient-start)] to-[var(--gradient-end)] animate-gradient-side animation-delay-col4"></div>
	<div class="col-span-1 w-full h-screen bg-gradient-to-l from-[var(--gradient-start)] to-[var(--gradient-end)] animate-gradient-side animation-delay-col3"></div>
	<div class="col-span-1 w-full h-screen bg-gradient-to-l from-[var(--gradient-start)] to-[var(--gradient-end)] animate-gradient-side animation-delay-col2"></div>
	<div class="col-span-1 w-full h-screen bg-gradient-to-l from-[var(--gradient-start)] to-[var(--gradient-end)] animate-gradient-side animation-delay-col1"></div>
</div>
