<div class="w-screen h-screen fixed top-0 left-0 grid grid-cols-13">
	<div class="col-span-1 w-full h-screen bg-gradient-to-r from-[var(--gradient-start)] to-[var(--gradient-end)] animate-gradient-side animation-delay-0"></div>
	<div class="col-span-1 w-full h-screen bg-gradient-to-r from-[var(--gradient-start)] to-[var(--gradient-end)] animate-gradient-side animation-delay-5"></div>
	<div class="col-span-1 w-full h-screen bg-gradient-to-r from-[var(--gradient-start)] to-[var(--gradient-end)] animate-gradient-side animation-delay-10"></div>
	<div class="col-span-1 w-full h-screen bg-gradient-to-r from-[var(--gradient-start)] to-[var(--gradient-end)] animate-gradient-side animation-delay-15"></div>
	<div class="col-span-1 w-full h-screen bg-gradient-to-r from-[var(--gradient-start)] to-[var(--gradient-end)] animate-gradient-side animation-delay-20"></div>
	<div class="col-span-1 w-full h-screen bg-gradient-to-r from-[var(--gradient-start)] to-[var(--gradient-end)] animate-gradient-side animation-delay-25"></div>
	<div class="col-span-1 w-full h-screen bg-gradient-to-r from-[var(--gradient-start)] via-[var(--gradient-mid)] to-[var(--gradient-end)] animate-gradient-center animation-delay-30"></div>
	<div class="col-span-1 w-full h-screen bg-gradient-to-l from-[var(--gradient-start)] to-[var(--gradient-end)] animate-gradient-side animation-delay-25"></div>
	<div class="col-span-1 w-full h-screen bg-gradient-to-l from-[var(--gradient-start)] to-[var(--gradient-end)] animate-gradient-side animation-delay-20"></div>
	<div class="col-span-1 w-full h-screen bg-gradient-to-l from-[var(--gradient-start)] to-[var(--gradient-end)] animate-gradient-side animation-delay-15"></div>
	<div class="col-span-1 w-full h-screen bg-gradient-to-l from-[var(--gradient-start)] to-[var(--gradient-end)] animate-gradient-side animation-delay-10"></div>
	<div class="col-span-1 w-full h-screen bg-gradient-to-l from-[var(--gradient-start)] to-[var(--gradient-end)] animate-gradient-side animation-delay-5"></div>
	<div class="col-span-1 w-full h-screen bg-gradient-to-l from-[var(--gradient-start)] to-[var(--gradient-end)] animate-gradient-side animation-delay-0"></div>
</div>
