<body>
  <style>
    @keyframes gradientFlow {
      0% { background-position: 0% 50%; }
      50% { background-position: 100% 50%; }
      100% { background-position: 0% 50%; }
    }
    .animate-gradient-flow {
      animation: gradientFlow 15s ease infinite;
      background-size: 400% 400%;
    }
  </style>
  <div class="w-screen h-screen animate-gradient-flow" style="background: linear-gradient(90deg, #001d23, #003232, #004f4d, #009479, #ffc073, #ff8000, #dd5928, #ad2f17);">
  </div>
</body>
