@import "tailwindcss";
@import "./gradient-animations.css";

    @property --gradient-start {
      syntax: '<color>';
      inherits: false;
      initial-value: #001d23;
    }

    @property --gradient-end {
      syntax: '<color>';
      inherits: false;
      initial-value: #003232;
    }

    @property --gradient-mid {
      syntax: '<color>';
      inherits: false;
      initial-value: #ffc073;
    }

@theme {
    --color-zr-cream: #ffc073;
    --color-zr-darker-green: #001d23;
    --color-zr-dark-green: #003232;
    --color-zr-green: #004f4d;
    --color-zr-light-green: #009479;
    --color-zr-orange: #dd5928;
    --color-zr-dark-orange: #ad2f17;
    --color-zr-darker-orange: #8a1f0f;
    --color-zr-light-orange: #ff8000;
}


@keyframes float {
  0%, 100% {
    transform: translateY(-25%);
    animation-timing-function: ease-in-out;
		animation-duration: 4s;
		animation-iteration-count: infinite;
  }
  50% {
    transform: none;
    animation-timing-function: ease-in-out;
		animation-duration: 4s;
		animation-iteration-count: infinite;
  }
}

